# Dépendances de base
requests>=2.31.0
python-dotenv>=1.0.1
fastapi>=0.110.0
uvicorn>=0.27.1
pydantic>=2.6.3

# Dépendances FastAPI
python-multipart>=0.0.9
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
email-validator>=2.1.0.post1

# Dépendances pour les modèles LLM
openai>=1.12.0
anthropic>=0.18.1

# Dépendances Google
google-api-core>=2.17.1
google-api-python-client>=2.120.0
google-auth>=2.28.1
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
google-generativeai>=0.3.2
googleapis-common-protos>=1.62.0

# Dépendances NLP
spacy>=3.7.2
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl

# Dépendances pour WordPress
python-wordpress-xmlrpc>=2.3
beautifulsoup4>=4.12.3

# Dépendances pour les tests
pytest>=8.0.2

# Dépendances pour le serveur
sse-starlette>=1.6.5